$color-white: #FFFFFF;
$color-black-titles: #242424;
$color-black-text: rgba(0, 0, 0, 0.64);
$color-gray: #DBDBDB;
$color-light-gray: #F7F7F5;
$color-blue: rgba(13, 132, 253, 0.83);
$color-blue-button: #0071e3;
