@import 'src/styles/variables';
@import 'src/styles/mixins';

.container {
  @include flex(center, center, column);

  .title {
    @include flex(center, center, row);
  }

  .form {
    margin: 0 auto;
    @include flex(center, flex-start, row);
    position: relative;
    top: 100px;
    left: 0;
    z-index: 10;

    @media (max-width: 1200px) {
      @include flex(center, center, column);
      position: static;
    }

    .button {
      background-color: $color-blue-button;
      color: $color-white;
      padding: 18px 30px;
      border-radius: 8px;
      @include font(20px, 400, 16px);
      border: none;
      margin: 5px 0;

      &:hover {
        background-color: $color-white;
        color: $color-blue-button;
        padding: 16px 28px;
        border: 1px solid $color-blue-button;
        border-radius: 8px;
        font-weight: 500;
        cursor: pointer;
      }

      &:disabled {
        background-color: $color-gray;
        color: $color-blue-button;
        padding: 16px 28px;
        border: 1px solid $color-light-gray;
        border-radius: 8px;
        font-weight: 500;
        cursor: pointer;
      }
    }

    .mapContainer {
      position: absolute;

      @media (max-width: 1200px) {
        position: static;
      }
    }
  }
}
